<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.asp" />
      </files>
    </defaultDocument>
    <asp enableParentPaths="true" scriptErrorSentToBrowser="true" />
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>

